.charitycard {
  float: left;
  background: #00838F !important;
  max-width: 410px !important;
  min-width: 40%;
  margin-left: 5px;
  margin-bottom: 10px
}

.charityheart {
  float: center;
}

.cardImage {
  filter: blur(5px);
}

.address p {
  line-height: 30% !important;
}
